// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #B3BE4A;
$gray: #000000;
$light-gray: #F4F4F4;
$light-gray-2: #F7F7F7;

// CQS colors:
$main-green: #B3BE4A;
$main-green-2: #CED58B;

$main-red: #DA5B59;
$main-red-2: #E79695;

$light-blue: #C2D3CD;
$light-blue-2: #D8E3DF;

$light-brown: #EEE1D9;


$dark-blue: #34344A;
$light-black: #4E4E4E;
$dark-gray: #BABABA;
$sand: #F7DBA7;
$sand-2: #F9E8C7;

