// Reseting global parameters
* {
  margin: 0;
  padding: 0;
  &:focus { outline: none !important; }
}

body {
  color: $light-black !important;
}

a:hover {
  text-decoration: none !important;
}

// To delete gutters in bootstrap grid
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
