.asso-wrapper {
  background-image: asset-url('mobilette.JPG');
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100vw;
  text-align: center;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  .asso-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      max-width: 725px;
    }
  }
}

.values-wrapper {
  text-align: center;
  background: linear-gradient(rgba(249, 249, 249, 0.75), rgba(249, 249, 249, 0.75)), asset-url('bees.JPG'), ;
  background-position: center;
  background-size: cover;
  .values-title {
    margin: 30px 0;
  }
  .values-infos {
    max-width: 625px;
  }
}

.ethique-wrapper {
  height: 500px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), asset-url('ethique-wrapper.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  .ethique-content {
    background-color: rgba(50, 50, 50, 0.7);
    position: absolute;
    bottom: 0;
    padding: 40px;
    width: 50%;
    p {

      font-size: 19px;
      color: white;
      font-family: 'Roboto';
    }
    .bigger {
      font-size: 36px;
    }
  }
}

.agenda-wrapper {
  .agenda-content {
    margin: 60px 0;
    .agenda-ellispe {
      height: 300px;
      width: 300px;
      min-width: 300px;
      background-image: asset-url('public.jpg');
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      margin-right: 30px;
    }
    .agenda-description {
      max-width: 500px;
      min-width: 300px;
      margin-left: 30px;
      .desciption-title {
        font-size: 36px;
        font-weight: bold;
      }
      .description-content {
        font-size: 16px;
        margin: 35px 0;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .agenda-wrapper {
    .agenda-content {
      flex-direction: column;
      .agenda-ellispe {
        margin-right: 0;
      }
      .agenda-description {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ethique-wrapper {
    .ethique-content {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .asso-wrapper {
    align-items: center;
    padding: 0;
  }
  .values-wrapper {
    padding: 0 8px;
  }
  .agenda-description {
    width: auto;
    padding: 0 10px;
    text-align: center;
  }
}


