// Specific CSS for your home-page
.banner {
  height: 600px;
  width: 100vw;
  margin-top: -90px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 40px;
  img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 100vw;
  }
  h1 {
    z-index: 1;
    width: 960px;
    text-align: center;
  }
}


.home-bullet-points {
  padding: 80px 30px;
}

.home-bullet-points-title {
  h2 {
    margin: 0;
  }
  margin-bottom: 100px;
}

.underline {
  padding: 0 5px;
  box-shadow: inset 0 -15px 0 0 $light-blue;
}

.underline-bis {
  padding: 0 5px;
  box-shadow: inset 0 -8px 0 0 $light-blue;
}

.link {
  text-decoration: none !important;
  color: $light-black;
  font-family: $headers-font;
}

.link:hover {
  color: $dark-gray;
}

.bullet-points {
  padding: 30px 0;
}

.bullet-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bullet-point-picto {
  height: 100px;
  width: 360px;
  .picto {
    position: relative;
    height: 100px;
    img {
      position: absolute;
      top: 15px;
      left: 157px;
    }
    .picto-back {
      position: absolute;
      height: 82px;
      width: 82px;
      border-radius: 50%;
      background-color: $sand;
      left: 139px;
    }
  }
}

.bullet-point-content {
  padding: 0px 30px;
}

.home-agenda {
  background: linear-gradient(218.38deg, #B3BE4A 2.3%, #DCE1AC 162.91%);
  position: relative;
  img {
    position: absolute;
    top: -20%;
    right: 4%;
  }
}

.home-agenda-box {
  padding-top: 104px;
  h2 {
    color: $light-black;
    font-size: 52px;
    min-width: 252px;

  }
  p {
    padding-top: 50px;
    color: $light-black;
    font-size: 22px;
    max-width: 480px;
    min-width: 300px;
  }
}

@media screen and (max-width: 990px) {
  .home-agenda-box {
    padding: 50px 0px;
    h2 {
      text-align: center;

    }

    p {
      text-align: center;
      margin: 0 auto;
    }
  }
}
