// Specific CSS for your home-page
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), asset-url('drone-cqs.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 40px;
  img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 100vw;
  }
  h1 {
    z-index: 1;
    width: 960px;
    text-align: center;
  }
}

.home-bullet-points {
  padding-top: 20px;
  padding-bottom: 80px;
  .bullet-point {
    margin-bottom: 30px;
    p {
      padding: 0 20px;
    }
  }
}

.home-bullet-points-title {
  h2 {
    margin-bottom: 80px;
  }
}

.underline {
  padding: 0 5px;
  box-shadow: inset 0 -15px 0 0 $light-blue;
}

.underline-bis {
  padding: 0 5px;
  box-shadow: inset 0 -8px 0 0 $light-blue;
}

.link {
  text-decoration: none !important;
  color: $light-black;
  font-family: $headers-font;
}

.link:hover {
  color: $dark-gray;
}

.bullet-points {
  padding: 30px 0;
}

.bullet-point-picto {
  height: 100px;
  width: 100%;
  .picto {
    position: relative;
    height: 100px;
  }
}

.home-agenda {
  background: linear-gradient(218.38deg, #B3BE4A 2.3%, #DCE1AC 162.91%);
  position: relative;
  img {
    position: absolute;
    top: -20%;
    right: 4%;
  }
}

.agenda-link {
  margin-bottom: 35px;
  text-decoration: none;
  color: #4E4E4E;
  font-weight: bolder;
  transition: all ease-out .3s;
  &:hover {
    transform: scale(1.1);
    color: $dark-blue;
  }
}

.home-agenda-box {
  max-width: 410px;
  margin: 50px 0;
  h2 {
    color: $light-black;
    font-size: 52px;
    min-width: 252px;

  }
  p {
    padding-top: 30px;
    color: $light-black;
    font-size: 22px;
    min-width: 300px;
  }
}

@media screen and (max-width: 990px) {
  .home-agenda-box {
    margin: 0 auto;
    h2 {
      text-align: center;

    }

    p {
      text-align: center;
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 0 10px;
  }

  .home-agenda-box {
    padding-top: 50px;
    p {
      padding: 50px 10px;
    }
  }
}
