<div class="agenda-sliders"></div>
<div class="agenda-header">
  <div class="container">
    <h1 class="underline">Agenda</h1>
    <p>Nous organisons tout au long de l’année des événements, des ateliers ainsi que des journées participative, au cours desquelles se mêlent apprentissage, découvertes et sensibilisation.</p>
  </div>
</div>
