<%= content_for(:title, action_name.capitalize) %>

<div class="asso-wrapper">
  <div class="asso-content">
    <h1>Ceux qui <span class="green">sèment</span></h1>
    <p>
      Portée par des valeurs humanistes, écologiques, sociales et solidaires, Ceux qui Sèment est une association d'éducation populaire fondée en <span class="bold">Juillet 2016</span>.
    </p>
  </div>
</div>
<div class="values-wrapper">
  <div class="values-content flex-column-center">
    <div class="values-title dark-blue">
      <h2>Portée par une vision</h2>
    </div>
    <div class="values-infos">
      <p>
        Notre raison d'être est la promotion de la permaculture, la sensibilisation au <span class="dark-blue">Développement Durable</span> et plus largement l'encouragement de l’émergence d’une société plus écologique et citoyenne. Nos axes de réflexion sont :
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="pill">
            <div class="pill-container" id="light-red">
              <h4 class="pill-title bold">
                Vivre ensemble
              </h4>
              <div class="pill-content-wrapper">
                <p class="pill-content">
                  Créer du lien et de la rencontre
                  Mutualiser des espaces et des services
                  Explorer des gouvernances qui respectent les besoins du collectif comme la souveraineté de chacun.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="pill">
            <div class="pill-container" id="light-sand">
              <h4 class="pill-title bold">
                Agriculture et autonomie alimentaire
              </h4>
              <div class="pill-content-wrapper">
                <p class="pill-content">
                  Développer des ateliers pour apprendre à produire une partie de sa nourriture de façon écologique
                </p>
              </div>
            </div>
              </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="pill">
            <div class="pill-container" id="light-blue">
              <h4 class="pill-title bold">
                Accueil et éducation
              </h4>
              <div class="pill-content-wrapper">
                <p class="pill-content">
                  Proposer des formes d’accueil et d’éducation qui encouragent la transmission, la participation et l'intelligence collective
                </p>
              </div>
            </div>
              </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="pill">
            <div class="pill-container" id="light-green">
              <h4 class="pill-title bold">
                Développement de la Presqu’île
              </h4>
              <div class="pill-content-wrapper">
                <p class="pill-content">
                  Participer à la valorisation et au rayonnement du territoire guérandais
                </p>
              </div>
            </div>
              </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="pill">
            <div class="pill-container" id="light-gray">
              <h4 class="pill-title bold">
                Sobriété énergétique
              </h4>
              <div class="pill-content-wrapper">
                <p class="pill-content">
                  Promouvoir l'éco-construction, les outils low-tech, les mobilités douces afin de diminuer notre empreinte énergétique et favoriser la création de lieux en harmonie avec la nature
                </p>
              </div>
            </div>
              </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="pill">
            <div class="pill-container" id="light-black">
              <h4 class="pill-title bold">
                Soin du vivant
              </h4>
              <div class="pill-content-wrapper">
                <p class="pill-content">
                  Accueillir et prendre soin de la vie sous toutes ses formes, en nous, entre nous et autour de nous
                </p>
              </div>
            </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ethique-wrapper">
  <div class="ethique-content">
    <p><span class="bigger">Basée sur <span class="green">l'éthique</span> :</span> Prendre soin de la Terre, prendre soin de l'Homme, créer de l'abondance et la partager équitablement, nous proposons de réfléchir à comment « nourrir » l'Humanité en prenant soin de notre environnement et cultiver ensemble un avenir durable et harmonieux. </p>
  </div>
</div>
<div class="agenda-wrapper flex-space-around">
  <div class="agenda-content flex-space-around">
    <div class="agenda-ellispe"></div>
    <div class="agenda-description">
      <div class="desciption-title green">
        <h3>Quelles actions, quels publics, quels lieux ?</h3>
      </div>
      <div class="description-content">
        <p>
          Nous proposons différents formats: des journées bénévoles au jardin, des ateliers pratiques, des journées bien-être, des conférences et des débats, des formations aux principes de la permaculture, sans oublier notre rendez-vous mensuel, le perm'apéro ! Du sol vivant à l'apiculture, en passant par les cosmétiques, les plantes médicinales, le zéro déchet ou la communication bienveillante, nous souhaitons partager des connaissances dans la joie et donner à tous l'opportunité d'expérimenter.
        </p>
        <p>
          Nous souhaitons nous adresser et être accessible au plus grand nombre : particuliers et professionnels, scolaires et centres de loisirs, associations diverses, enfants, adolescents, adultes. L'association vous accueille sur son terrain de démonstration de l'écoasis des landes de Villeneuve à Guérande ou au sein d'autres structures de la Ville et de la presqu'île.
        </p>
        <p>
          Des visites guidées de l'<span class="bold">écoasis</span> sont régulièrement organisées par l'association. Vous pourrez y observer une grande biodiversité, des associations de légumes, de fleurs et de fruitiers, un couvert du sol permanent, des rotations courtes des pâturages, des haies bocagères reconstituées, un arrosage essentiellement limité aux seules pluies délivrées par la nature et une culture menée à 98% en extérieur et en pleine terre afin de produire une alimentation biologique, vivante et de qualité.
        </p>
      </div>
      <%= link_to 'Découvrir l\'agenda', agenda_path, class: 'btn-agenda'  %>
    </div>
  </div>
</div>
