<%= content_for(:title, action_name.capitalize) %>

<div class="asso-wrapper">
  <div class="asso-content">
    <h1>Ceux qui <span class="green">sèment</span></h1>
    <p>
      Portée par des valeurs humanistes, écologiques, sociales et solidaires, l'association
      Ceux qui Sèment a été fondée en <span class="bold">Juillet 2016</span>.
    </p>
  </div>
</div>
<div class="values-wrapper">
  <div class="values-content flex-column-center">
    <div class="values-title dark-blue">
      <h2>Portée par une vision</h2>
    </div>
    <div class="values-infos">
      <p>
        Ayant pour raison d'être la promotion de la permaculture, la sensibilisation au <span class="dark-blue">Développement Durable</span> et plus largement l'encouragement de l’émergence d’une société plus écologique et citoyenne, nos axes de réflexion sont :
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="pill">
            <div class="pill-container" id="light-red">
              <h4 class="pill-title bold">
                Démocratie
              </h4>
              <p class="pill-content">
                Inventer des gouvernances qui respectent les besoins du collectif comme la souveraineté de chacun.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="pill">
            <div class="pill-container" id="light-sand">
              <h4 class="pill-title bold">
                Agriculture et autonomie alimentaire
              </h4>
              <p class="pill-content">
                Développer des actions spécifiques pour produire une partie de sa nourriture de façon écologique
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="pill">
            <div class="pill-container" id="light-blue">
              <h4 class="pill-title bold">
                Accueil et éducation
              </h4>
              <p class="pill-content">
                Proposer des formes d’accueil et d’éducation qui encouragent la transmission, la participation et l'intelligence collective
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="pill">
            <div class="pill-container" id="light-green">
              <h4 class="pill-title bold">
                Développement de la Presqu’île
              </h4>
              <p class="pill-content">
                Participer à la valorisation du territoire guérandais et à son rayonnement
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="pill">
            <div class="pill-container" id="light-gray">
              <h4 class="pill-title bold">
                Éco-construction et sobriété energétique
              </h4>
              <p class="pill-content">
                Diminuer l’empreinte du bâti par la création de lieux en harmonie avec le paysage
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="pill">
            <div class="pill-container" id="light-black">
              <h4 class="pill-title bold">
                Mutualisation
              </h4>
              <p class="pill-content">
                Mutualiser des espaces et des services pour créer un mode de vie basé sur la coopération, le partage et la solidarité
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ethique-wrapper">
  <div class="ethique-content">
    <p><span class="bigger">Basée sur <span class="green">l'éthique</span> :</span> Prendre soin de la Terre, prendre soin de l'Homme et créer de l'abondance, nous proposons de réfléchir à comment « nourrir » l'Humanité en prenant soin de notre environnement en cultivant ensemble un avenir durable et harmonieux. </p>
  </div>
</div>
<div class="agenda-wrapper flex-space-around">
  <div class="agenda-content flex-space-around">
    <div class="agenda-ellispe"></div>
    <div class="agenda-description">
      <div class="desciption-title green">
        <h3>L'association intervient auprès d'un public varié</h3>
      </div>
      <div class="description-content">
        <p>
          Particuliers et professionnels, scolaires et centres de loisirs, associations diverses ou centre d'accompagnement de mineurs isolés, l'association vous accueille sur son terrain de démonstration des landes de Villeneuve à Guérande, au sein du projet <span class="bold">« ECOASIS »</span> ou au sein d'autres structures.
        </p>
        <p>
          Nos actions sont très diversifiées : des journées bénévoles au jardin partagé, des ateliers pratiques, des journées bien-être, des conférences et des débats, des formations aux principes de la Permaculture, sans oublier les rendez-vous mensuels perma'philosophiques !
        </p>
      </div>
      <%= link_to 'Découvrir l\'agenda', agenda_path, class: 'btn-agenda'  %>
    </div>
  </div>
</div>
