.admin-header {
  position: relative;
  height: 90px;
  background-color: white;
  h1 {
    color: $light-black;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 120px;
  }
  .admin-logout {
    color: $main-red;
    position: absolute;
    right: 20px;
    bottom: 10px;
  }
}
@media screen and (max-width: 529px) {
  .admin-header h1 {
    font-size: 33px;
  }
}
.admin-logo {
  position: absolute;
  top: 7px;
  left: 25px;
  height: 75px;
}

.admin-actions {
  position: relative;
  height: 60px;
  width: 300px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h3 {
    margin: 0;
    font-weight: lighter;
    transition: .2s;
    color: $light-black;
    &:hover {
      cursor: pointer;
      color: black;
    }
  }
  .unread-messages-count {
    position: absolute;
    bottom: -25px;
    color: $main-red;
  }
}

.admin-events {
  padding-top: 15px;
}

.event-actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  a {
    margin: 0 20px;
  }
}
.sticky-participations {
  height: calc(100vh);
  overflow-y: scroll;
  position: sticky !important;
  top: 0;
  border-left: 1px solid hsla(0, 50%, 0%, 0.2);
  h2 {
    margin-bottom: 30px;
    text-align: center;
    color: $light-black;
  }
  h3 {
    padding-top: 20px;
    margin: 20px auto 0 auto;
    border-top: 1px solid hsla(0, 50%, 0%, 0.2);
    text-align: center;
    color: $light-black;
    width: 350px;
  }
}
.out-of-places {
  text-align: center;
  p {
    margin: 0;
    font-size: 22px;
  }
  a {
    text-decoration: none;
    font-size: 14px;
    color: hsla(0, 0, 0, 0.2);
    &:hover {
      color: $yellow;
      font-weight: bold;
    }
  }
}

.inscriptions-opened {
  color: $main-green;
}
.inscriptions-closed {
  color: $main-red;
}

// hide participations left-border on small screens
@media screen and (max-width: 1199px) {
  .sticky-participations {
    border-left: none;
  }
  .admin-events {
    max-height: 600px;
    overflow-y: scroll;
    border-bottom: 1px solid hsla(0, 50%, 0%, 0.2);
  }
}

.new-event {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .new-event{
    height: calc(100vh - 200px);
  }
}
@media (min-width: 1649px) {
  .edit_event, .new_event {
    transform: scale(1.3);
  }
}
