.admin-header {
  position: relative;
  height: 90px;
  background-color: white;
  h1 {
    color: $light-black;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 150px;
  }
  .admin-logout {
    color: $main-red;
    position: absolute;
    right: 30px;
    top: 10px;
  }
}

.admin-logo {
  position: absolute;
  top: 7px;
  left: 25px;
  height: 75px;
}

.admin-actions {
  height: 60px;
  width: 300px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h3 {
    margin: 0;
    font-weight: lighter;
    transition: .2s;
    color: $light-black;
    &:hover {
      cursor: pointer;
      color: black;
    }
  }
}
.participations {
}
.sticky-participations {
  height: calc(100vh);
  overflow-y: scroll;
  position: sticky !important;
  top: 0;
  border-left: 1px solid hsla(0, 50%, 0%, 0.2);
  h2 {
    margin-bottom: 30px;
    text-align: center;
    color: $light-black;
  }
}

.admin-events {
}

.event-actions {
  display: flex;
  justify-content: center;
  a {
    margin: 0 20px;
  }
}
