.agenda-main-events {
  height: 500px;
  .cqs--slider {
    position: relative;
    height: 100%;
    .slider--control {
      z-index: 1;
      position: absolute;
      top: 0;
      height: 100%;
      width: 15%;
      background-color: rgba(255, 255, 255, 0.6);
      cursor: pointer;
      &.slider--right {
        right: 0;
      }
      &.slider--left {
        left: 0;
      }
    }
    .slider--container {
      position: relative;
      width: 70%;
      height: 100%;
      margin: 0 auto;
      .slider--item {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        transition: .3s;
        div{
          height: 100%;
        }
      }
    }
  }
}
