.alert {
  position: absolute;
  top: 30px;
  margin: 0;
  text-align: center;
  color: white;
  z-index: 3000;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  transition: all 1s ease-out;
  left: -600px;
}
.alert-slide {
  left: 15px !important;
  transition: all 1s ease-out;
}
.alert-info {
  background: $main-green;
}
.alert-warning {
  background: $main-red;
}

// Sweet Alert 2 CSS below
.swal2-popup {
  font-size: 2rem !important;
}
.swal2-actions {
  width: 70% !important;
  justify-content: space-around !important;
  .btn-success:focus {
    border-color: transparent !important;
    background-color: $main-green !important;
  }
}
