.vertical-card {
  width: 100%;
  max-width: 255px;
  min-width: 255px;
  margin: 0 auto 30px auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, .1);
  position: relative;
  .vertical-card-image {
    width: 100%;
    height: 240px;
    background-size: cover;
    border-radius: 3px 3px 0 0;
  }
  .vertical-card-content {
    padding: 8px 22px 20px 22px;
    position: relative;
    h4 {
      font-size: 24px;
      margin-bottom: 21px;
    }
    .vertical-card-date {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-bottom: 30px;
      .calendar-icon {
        height: 30px !important;
        width: 30px !important;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        background-color: $main-green;
        padding: 8px 9px;
        border-radius: 50%;
        text-align: center;
        margin-right: 10px;
      }
      p {
        margin: 0;
        font-size: 13px;
        color: $light-black;
      }
    }
  }
}

.colored-block {
  height: 10px;
  background-color: $light-blue;
}

.ribbon {
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50px;
  text-align: center;
  right: 10px;
  top: -15px;
  font-family: $headers-font;
  .ribbon-top {
    background-color: $main-red;
    width: 100%;
    color: white;
    height: 20px;
    font-size: 14px;
  }
  .ribbon-bottom {
    width: 100%;
    background-color: white;
    font-weight: bold;
    font-size: 23px;
    p {
      margin-bottom: 0;
    }
  }
}

.big-card-home {
  height: 100%;
  position: relative;
  border-radius: 3px;
  .big-card-image {
    border-radius: 3px 3px 0 0;
    width: 348.5px
  }
  .big-card-content {
    position: relative;
    padding: 20px;
    height: 168px;
    h4 {
      margin: 0;
    }
    p {
      margin: 0;
      margin-top: 20px;
      font-weight: lighter;
      margin: 10px 0;
    }
    a {
      position: absolute;
      bottom: 12px;
      text-decoration: none;
      color: $light-black;
      font-weight: bolder;
    }
  }
}

@media screen and (max-width: 575px) {
  .big-card-home {
    .big-card-image {
      width: 300px;
    }
  }
}

.horizontal-card {
  position: relative;
  border-radius: 3px;
  .horizontal-card-image {
    flex: 0 0 38%;
    border-radius: 3px 0 0 3px;
    position: relative;
  }
  .horizontal-card-content {
    flex: 1 1 auto;
  }
  .horizontal-content-infos {
    padding: 20px;
    height: 168px;
    h4 {
      margin: 0;
    }
    p {
      font-size: 14px;
      font-weight: lighter;
      margin: 10px 0;
    }
    a {
      position: absolute;
      bottom: 12px;
      text-decoration: none;
      color: #4E4E4E;
      font-weight: bolder;
    }
  }
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 16px;
}
.atelier {
  background-color: #84C3D1;
}
.formation {
  background-color: $main-green-2;
}
.événement {
  background-color: $sand;
}
.tous {
  background: $main-green;
}
.badge {
  position: absolute;
  font-size: 14px;
  margin-left: 3px;
}
.unread-badge {
  background-color: $main-red;
}
.read-badge {
  background-color: $main-green;
}
