.green {
  color: $main-green;
  font-weight: bold;
}

.dark-blue {
  color: $dark-blue;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.bg-red {
  background-color: $main-red;
}

.bg-green {
  background-color: $main-green;
}


.bg-sand {
  background-color: $sand;
}


.bg-light-blue {
  background-color: $light-blue;
}


