.agenda-main-events {
  .twelve-principles {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-image: linear-gradient(rgba(120, 120, 120, 0.2), rgba(120, 120, 120, 0.2)), asset-url('tipi.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    p strong {
      color: $main-green;
    }
    a {
      color: white;
      margin-right: auto;
    }
  }
}
