.participation-box {
  position: relative;
  margin: 30px auto;
  // height: 170px;
  max-width: 440px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.participation-infos {
  position: relative;
  top: 5px;
  left: 5%;
  h4 {
    margin: 0;
  }
  p {
    font-weight: lighter;
  }
}

.participation-contact {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 16px;
    font-weight: lighter;
  }
  i {
    margin-right: 5px;
    font-size: 14px;
  }
}
@media screen and (max-width: 449px) {
  .participation-contact {
    flex-direction: column;
  }
}

.participation-message {
  position: relative;
  bottom: 5px;
  left: 5%;
  height: 70px;
  width: 90%;
  margin: 0;
  padding: 5px;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  p {
    font-size: 14px;
    margin: 0;
  }
}
.participation-unread {
  position: absolute;
  top: 5px;
  right: 5%;
  color: $main-red;
}
.mark-as-read {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: hsla(0, 0, 0, 0.2);
  &:hover {
    color: $yellow;
    font-weight: bold;
  }
}
