.participation-box {
  position: relative;
  margin: 30px auto;
  height: 170px;
  width: 440px;
  background-color: white;
  border-radius: 2px;
}
@media screen and (max-width: 949px) {
  .participation-box {
    width: 370px;
  }
}

.participation-infos {
  position: relative;
  top: 5px;
  left: 5%;
  h4 {
    margin: 0;
  }
  p {
    font-weight: lighter;
  }
}

.participation-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    font-size: 16px;
    font-weight: lighter;
  }
  i {
    margin-right: 5px;
    font-size: 14px;
  }
}

.participation-message {
  position: relative;
  bottom: 5px;
  left: 5%;
  height: 70px;
  width: 90%;
  margin: 0;
  padding: 5px;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  p {
    font-size: 14px;
    margin: 0;
  }
}
