.pill {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.pill-container {
  border: 2px solid white;
  border-radius: 25%;
  width: 250px;
  height: 250px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pill-title {
  font-size: 18px;
  padding: 0px 24px;
  margin-top: 24px;
}

.pill-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 24px;
  flex-grow: 1;

  .pill-content {
    font-size: 14px;
    text-align: center;
  }
}


#light-red {
  background-color: $main-red-2;
}

#light-sand {
  background-color: $sand-2;
}

#light-blue {
  background-color: $light-blue-2;
}

#light-green {
  background-color: $main-green-2;
}

#light-gray {
  background-color: $light-brown;
}

#light-black {
  background-color: $dark-gray;
}
